################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ECommerceWebsite/obj/Debug/net8.0
*.v2
