@model IEnumerable<ECommerceWebsite.Models.Category>
<select name="cat_id" class="form-select" aria-label="Default select example">
    <option hidden>Select Category</option>
    @foreach (var Cat in Model)
    {
        
        <option value="@Cat.category_id">@Cat.category_name</option>
       
    }
    
</select>