@model IEnumerable<ECommerceWebsite.Models.Category>
<div class="container-fluid full-height d-flex justify-content-start align-items-start">
    <div class="row w-100">
        <div class="col-md-12">
            <div class="container">
                <div class="row" style="margin-left:150px;">
                    <div class="col-md-12 col-10 mx-auto">
                       
                        <table class="table text-dark">
                            <a asp-action="addCategory" asp-controller="admin" class="btn btn-primary text-white" style="display: flex; justify-content: center; width: 130px; margin-left: 121px; margin-top: 10px;margin-bottom:10px"> Add Category</a>
                            <thead>
                                <tr>
                                    <th scope="col">Category ID</th>
                                    <th scope="col">Category Name</th>
                                    <th scope="col">Option</th>


                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var Cat in Model)
                                {
                                    <tr>
                                        <th scope="row">@Cat.category_id</th>
                                        <td>@Cat.category_name</td>
                                    
                                        <td class="d-flex">
                                            <a asp-action="updateCategory" asp-controller="Admin" asp-route-id="@Cat.category_id" class="btn btn-primary" style="margin-right: 12px;"> update</a>

                                            <a asp-action="deletepermissionCategory" asp-controller="Admin" asp-route-id="@Cat.category_id" class="btn btn-danger">Delete</a>

                                        </td>


                                    </tr>
                                }



                            </tbody>
                        </table>
                    </div>

                </div>



            </div>
        </div>
    </div>
</div>