@model ECommerceWebsite.Models.Product

<div class="container-fluid full-height d-flex justify-content-start align-items-start">
    <div class="row w-100">
        <div class="col-md-12">
            <div class="container">
               
                    
                        <form method="post" asp-action="productupdate" enctype="multipart/form-data">
                    <div class="row" style="margin-left:200px;">
                        <div class="col-md-6 col-10 mx-auto">
                            <div class="form-group pt-3">
                               
                                <input asp-for="product_id" type="hidden">
                            </div>
                            <div class="form-group pt-3">
                                <label class="d-flex justify-content-start align-items-start" for="product_name">Name</label>
                                <input asp-for="product_name" class="form-control">
                            </div>
                            <div class="form-group pt-3">
                                <label class="d-flex justify-content-start align-items-start" for="product_price">Price</label>
                                <input asp-for="product_price" class="form-control">
                            </div>
                            <div class="form-group pt-3">
                                <label class="d-flex justify-content-start align-items-start" for="product_description">Description</label>
                                <input asp-for="product_description" class="form-control">
                            </div>
                            <div class="form-group pt-3">
                                <label class="d-flex justify-content-start align-items-start" for="Category.category">Category</label>
                                <select asp-for="cat_id" class="form-select d-flex" asp-items="ViewBag.cat" style="margin-left: 20px;">
                                    <option value="" disabled selected>--Select Catgory--</option>
                                </select>
                            </div>
                            
                          
                        </div>
                        <div class="col-md-6 col-10 mx-auto pt-5 mt-1">
                            <div class="form-group pt-3 d-flex" style="justify-content: center;align-items: center;flex-direction: column;">
                                <input id="bordernone" type="file" asp-for="product_image" style="margin-left: 20px;"/>
                                <img class="mt-4 mb-3" src="@("/Product_images/" + Model.product_image)" asp-append-version="true" style="width:250px;height:250px;" />
                            </div>
                        </div>
                        <div class="d-flex justify-content-center w-100 mt-2 mb-5">
                            <button type="submit" class="btn btn-primary">Update</button>
                        </div>
                    </div>
                    </form>
                    
                
            </div>
        </div>
    </div>
</div>

