@model ECommerceWebsite.Models.Product

<div class="container-fluid full-height d-flex justify-content-start align-items-start">
    <div class="row w-100">
        <div class="col-md-12">
            <div class="container">
                <div class="row" style="margin-left:200px;">
                    <div class="col-md-6 col-10 mx-auto">
                        <form method="post" asp-action="productupdate">
                            <div>
                                <div class="form-group pt-3">
                                    <input asp-for="product_id" type="hidden">
                                </div>
                                <div class="form-group pt-3">
                                    <label class="d-flex justify-content-start align-items-start" for="product_name">Name</label>
                                    <input asp-for="product_name" class="form-control">
                                </div>
                                <div class="form-group pt-3">
                                    <label class="d-flex justify-content-start align-items-start" for="product_price">Price</label>
                                    <input asp-for="product_price" class="form-control">
                                </div>
                                <div class="form-group pt-3">
                                    <label class="d-flex justify-content-start align-items-start" for="product_description">Description</label>
                                    <input asp-for="product_description" class="form-control">
                                </div>
                                
                                <div class="form-group pt-3">
                                    <label class="d-flex justify-content-start align-items-start" for="cat_id">Category</label>
                                    <input asp-for="Category.category_name" class="form-control">
                                </div>
                                <div class="form-group pt-3">
                                    <input asp-for="product_image" type="hidden" class="form-control">
                                </div>
                                <button type="submit" class="btn btn-primary">Update</button>
                            </div>
                        </form>
                    </div>
                   @*  <div class="col-md-6 col-10 mx-auto">
                        <form method="post" asp-action="ChangeProfileImage" enctype="multipart/form-data" style="margin-top:35px;">
                            <input asp-for="admin_id" type="hidden">
                            <input asp-for="admin_name" type="hidden">
                            <input asp-for="admin_email" type="hidden">
                            <input asp-for="admin_password" type="hidden">


                            <input id="bordernone" type="file" asp-for="admin_image" />
                            <img class=" mt-4 mb-3" src="@("/images/" + Model.admin_image)" asp-append-version="true" style="width:250px;height:250px;" />

                            <br />
                            <button class=" btn btn-primary" type="submit">Change profile</button>
                        </form>
                    </div>
                </div> *@



            </div>
        </div>
    </div>
</div>
