@model ECommerceWebsite.Models.Admin

<div class="container full-height d-flex justify-content-start align-items-start">
    <div class="row w-100">
        <div class="col-md-6 mx-auto">
            <div class="p-4">
                <form method="post" asp-action="Profile">
                    <div>
                        <div class="form-group pt-3">
                            <input asp-for="admin_id" type="hidden">
                        </div>
                        <div class="form-group pt-3">
                            <label class="d-flex justify-content-start align-items-start" for="admin_name">Name</label>
                            <input asp-for="admin_name" class="form-control">
                        </div>
                        <div class="form-group pt-3">
                            <label class="d-flex justify-content-start align-items-start" for="admin_email">Email address</label>
                            <input asp-for="admin_email" class="form-control">
                        </div>
                        <div class="form-group pt-3">
                            <label class="d-flex justify-content-start align-items-start" for="admin_password">Password</label>
                            <input asp-for="admin_password" class="form-control">
                        </div>
                        <div class="form-group pt-3">
                            <input asp-for="admin_image" type="hidden" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </form>

                <form method="post" asp-action="ChangeProfileImage" enctype="multipart/form-data">
                    <input asp-for="admin_id" type="hidden">
                    <input asp-for="admin_name" type="hidden">
                    <input asp-for="admin_email" type="hidden">
                    <input asp-for="admin_password" type="hidden">
                    <input class="d-flex justify-content-start align-items-start" id="bordernone" type="file" asp-for="admin_image" />
                    <img src="@("/images/" + Model.admin_image)" asp-append-version="true" style="width:250px;height:250px;" />
                    <br />
                    <button class="d-flex justify-content-start align-items-start btn btn-primary" type="submit">Change profile</button>
                </form>
            </div>
        </div>
    </div>
</div>
