@{
    ViewData["Title"] = "CustomerProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model ECommerceWebsite.Models.Customer
<div class="container-fluid full-height d-flex justify-content-start align-items-start">
    <div class="row w-100 mt-5">
        <div class="col-md-12">
            <div class="container">
                <div class="row" style="margin-left:200px;">
                    <div class="col-md-10 col-10 mx-auto" style="background-color: #d19c977d; border-radius: 10px;">
                        <form method="post" asp-action="CustomerProfile" asp-controller="Customer" enctype="multipart/form-data">
                            <div style="padding:30px;">
                                <h2 class="text-center">Customer Profile</h2>
                                <input type="hidden" asp-for="customer_id" />
                                <div class="form-group">
                                    <label class="d-flex justify-content-start align-items-start" for="customer_name">Name</label>
                                    <input asp-for="customer_name" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label class="d-flex justify-content-start align-items-start" for="customer_email">Email address</label>
                                    <input asp-for="customer_email" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label class="d-flex justify-content-start align-items-start" for="customer_phone">Phone Number</label>
                                    <input asp-for="customer_phone" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label class="d-flex justify-content-start align-items-start" for="customer_password">Password</label>
                                    <input asp-for="customer_password" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label class="d-flex justify-content-start align-items-start" for="customer_country">Country</label>
                                    <input asp-for="customer_country" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label class="d-flex justify-content-start align-items-start" for="customer_city">City</label>
                                    <input asp-for="customer_city" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label class="d-flex justify-content-start align-items-start" for="customer_address">Address</label>
                                    <input asp-for="customer_address" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label class="d-flex justify-content-start align-items-start" for="customer_gender">Gender</label>
                                    <input asp-for="customer_gender" class="form-control">
                                </div>
                                <div class="form-group">

                                    <input id="bordernone" type="file" asp-for="customer_img" />
                                    <img class=" mt-4 mb-3" src="@("/Customer_images/" + Model.customer_img)" asp-append-version="true" style="width:250px;height:250px;" />

                                </div>

                                <div class="d-flex justify-content-center align-items-center mt-4">
                                    <button type="submit" class="btn btn-primary">Update</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
